body {
    font-family: Arial, sans-serif;
    padding: 20px;
  }

  #imageContainer {
    margin: 20px 0;
  }
  
  #imagePreview {
    max-width: 100%;
    max-height: 300px;
    display: block;
  }
  
  #outputContainer {
    background: white;
    font-size: 30px;
    margin-top: 20px;
  }

  #output {
    font-family: Arial;
  }

  #uploadButton, #infButton {
    font-size: 20px;
    width: 240px;
    background-color: #00008B;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }

  #uploadButton:hover, #infButton:hover {
    background-color: #ADD8E6;
    color: black;
  }

  #leftSide{
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 50%;
  }

  #rightSide {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
  }

  
#container {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  #deviceSelect{
    width: 240px
  }